*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


header{
    position: absolute;
    z-index: 2;
    display: grid;
    width: 100%;
    max-width: 1300px;
    height: 150px;
    grid-template-areas: "logo h1 nav";
    grid-template-columns: 1fr 2fr 3fr;
    align-content: center;
}
h1{
    grid-area: h1;
    padding-top: 4.3%;
    padding-left: 2%;
    font-size: 244%;
    font-family: "Lucida Sans","Tahoma", sans-serif;
    font-style: italic;
    color: #ffffff;
}
.logo{
    grid-area: logo;
    justify-self: end;
    background-image: url("./assets/images/Shape\ 8\ copy\ 4.svg");
    background-repeat: no-repeat;
    background-size: 79px; 
    background-position-x: 3px;
}
.navigation-menu{
    position: relative;
    bottom: 64%;
    left: 8.6%;
    grid-area: nav;
    display: grid;
    grid-template-areas: "nav-about-us nav-services nav-contact";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    width: 70%;
    height: 46%;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}
.rectangle-shadow-1{
    position: relative;
    top: 19%;
    left: 7.5%;
    width: 70%;
    height: 46%;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%); 
    opacity: .27;
}
.rectangle-shadow-2{
    position: relative;
    bottom: 34.5%;
    left: 6.5%;
    width: 70%;
    height: 46%;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    opacity: .27; 
}
.navigation-menu li{
    display: inline;
    text-decoration:none;
    list-style: none;
    padding-top: 4%;
}
.navigation-menu a{
    font-size: 1em;
    letter-spacing: 0px;
    font-family: "Segoe WP", "Tahoma", sans-serif;
    color: #9b7d08;
}
.nav-about-us{
    grid-area: nav-about-us;
    text-align: center;
    width: 100%;
    border-right: 1px solid #B99403;
}
.nav-services{
    grid-area: nav-services;
    width: 80%;
    padding-left: 15%;
    border-right: 1px solid #B99403;
}
.nav-contact{
    grid-area: nav-contact;
    justify-self: center;
    width: 100%;
}
nav:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
}
.icon-user,
.icon-wrench,
.icon-email{
    color: #b99403;
}


.player{
    z-index: 1;
    grid-area: player;
    height: 563px;
    background-image: url("./assets/images/Layer\ 20@1X.png");
    background-size: cover;
}
video[poster]{
    object-fit: cover;
}


.links{
    display: flex;
    justify-content: center;
    grid-area: links;
    width: 100%;
    height: 215px;
    background-image: url("./assets/images/Layer\ 7@1X.png");
    background-size: cover;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}
.better-design,
.customise,
.telegram{
    width: 340px;
    height: 215px;
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    text-align: center;
}
.better-design img{
    padding-top: 19%;
}
.customise img{
    padding-top: 12%;
    padding-left: 5%;
}
.telegram img{
    padding-top: 16%;
    padding-right: 9%;
}
.links p{
    font-size: 175%;  
    font-family: "Segoe UI", "Tahoma", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #000000;
}
.better-design p{
    padding-top: 1%;
    padding-left: 6%;
}
.customise p{
    padding-top: 2%;
    padding-left: 6%;
}
.telegram p{
    padding-top: 2%;
    padding-right: 6%;
}



.twitter-publication{
    grid-area: twitter-publication;
}

.other-devices{
    grid-area: other-devices;
}

footer{
    grid-area: footer;
}