#slider{
	margin: 0 auto;
}

#slides article{
	width: 20%;
	float: left;
}

#slides .video{ 
	width: 500%;
	line-height: 0;
}

#overflow{ 
    position: relative;
    bottom: 1.5vw;
	width: 100%;
	overflow: hidden;
}

#desktop:checked ~ #slider{ 
    width: 76.9%;
}


/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
    background: url(./images/2.png) no-repeat;
    float: left;
    margin-left: -15%;
    display: block;
    height: 54px;
    width: 33px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){ 
	background: url('./images/1.png') no-repeat; 
    float: right;
	margin-right: -15%;
	display: block;
    height: 54px;
    width: 33px;
}

.all input{
	display: none;
}

#switch1:checked ~ #slides .video{
	margin-left: 0;
}

#switch2:checked ~ #slides .video{
	margin-left: -100%;
}

#switch3:checked ~ #slides .video{
	margin-left: -200%;
}

#controls{ 
	margin: -20% 0 0 0;
    width: 100%;
    height: 50px;
}

#slides .video{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{
	opacity: 0.6;
}

#controls label{
    transition: opacity 0.2s ease-out;
}

@media only screen and (min-width:1800px){
    #overflow{ 
        bottom: 3.5vw;
        left: 12vw;
    }
}

@media only screen and (min-width:1600px){
    #overflow{ 
        bottom: 1.5vw;
        left: 10vw;
    }
}

@media only screen and (max-width:1200px){
	#switch1:checked ~ #controls label:nth-child(2), 
	#switch2:checked ~ #controls label:nth-child(3),
	#switch3:checked ~ #controls label:nth-child(1){ 
	margin-right: -10vw;
}
}
@media only screen and (max-width:650px){
    #slider{
		margin: 0 auto;
		
	}
	
	#slides article{
		width: 20%;
		float: left;
	}
	
	#slides .video{ 
		width: 500%;
		line-height: 0;
	}
    #overflow{ 
		top: 3.5vw;
		bottom: 0;
		left: 4%;
	}
	
	/*настройка переключения и положения для левой стрелки*/
	/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
	#switch1:checked ~ #controls label:nth-child(3), 
	#switch2:checked ~ #controls label:nth-child(1),
	#switch3:checked ~ #controls label:nth-child(2){
		display: none;
	}
	
	/*настройка переключения и положения для правой стрелки*/
	#switch1:checked ~ #controls label:nth-child(2), 
	#switch2:checked ~ #controls label:nth-child(3),
	#switch3:checked ~ #controls label:nth-child(1){ 
		display: none;
	}
	
}